//以下よりheader部分の実装
.lists-top {
  display: flex;
  justify-content: space-around;
  height: 45px;
  width: 100vw;
  background-color: white;
}

.infection {
  font-size: 35px;
  color: #424242;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.infection:hover {
  color: #424242;
  text-decoration: none;
}

.lists-bottom {
  background-color: #424242;
  height: 34px;
  width: 100vw;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
}


.influencer, .company, .login-i, .registration-i {
  color: white;
  font-size: 12px;
  padding: 8px;
}

.influencer, .login-i, .registration-i {
  background-color: #be9c59;
}

.login-c, .registration-c {
  background-color: #424242;
  color: white;
  font-size: 12px;
  padding: 4px;
}

.influencer:hover, .company:hover,  .login-i:hover, .registration-i:hover, .login-c:hover, .registration-c:hover {
  color: white;
  text-decoration: none;
}

.pulldown-influencer {
  height: 68px;
  width: 135.28px;
  padding: 2px;
  position: absolute;
  right: 64px;
  z-index: 2;
  text-align: center;
}

.pulldown-company {
  height: 34px;
  width: 64px;
  padding: 2px;
  position: absolute;
  right: 0px;
  z-index: 2;
  text-align: center;
}

.registration-i, .login-i, .registration-c, .login-c {
  width: 100%;
  display: block;
  text-decoration: none;
}


//以下よりmypages/index部分の実装

.img {
  position: relative;
  z-index: 1;
}

//footerの記述
.footer {
  width: 100vw;
  padding: 5vh 0;
  color: #FFF;
  background-color: #424242;
  text-align: center;
  border: 1px solid #be9c59;
  border-bottom-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
}

.footer-contents {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.furima-details {
  margin: 0 4vw;
}

.footer-content-head {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-link {
  color: #FFF;
  font-size: 12px;
  line-height: 30px;
}

.logo-white {
  width: 20vh;
  vertical-align: bottom;
}

.footer>p {
  font-size: 14px;
}

//hiddenの記述
.hidden {
  display: none;
}

