.show-content {
  background-color: #F5F5F5;
  padding-right: 25vw;
  padding-left: 25vw;
  padding-bottom: 5vw;
}

.show-mypage-top {
  text-align: center;
  margin-bottom: 15px;
}

.show-mypage-title {
  font-size: 35px;
  color: #424242;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.show-mypage-title:hover {
  color: #424242;
  text-decoration: none;
}

.show-image {
  text-align: center;
  margin-top: 20px;
}

.show-username {
  font-size: 25px;
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  margin-bottom: 30px;
}

td {
  text-align: center;
}

.table-lists {
  font-family: 'Lato','meiryo','メイリオ','ms pgothic','ms pゴシック',osaka,sans-serif;
  width: 150px;
  color: #424242;
}

.table-lists-profile {
  font-size: 13px;
}

.mypage-show-btn {
  display: flex;
  justify-content: space-around;
}

a.btn.btn-primary.btn-lg {
  background-color: #be9c59;
  border: #be9c59 solid;
}

